# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Get acquainted with the basics of using Jupyter Notebook and its interface.
- Learn how to create and organize notebooks, and run code within the Jupyter environment.
- Explore how to integrate Jupyter Notebook with the R programming language for data analysis.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:

- **Pandas** - A library for data manipulation and analysis, particularly useful for handling structured data.
- **NumPy** - A fundamental package for numerical computing, providing support for arrays and matrices.
- **Matplotlib** - A plotting library used for creating static, animated, and interactive visualizations in Python.

| Data Science Tools           |
|------------------------------|
| Jupyter Notebook              |
| RStudio                       |
| Apache Zeppelin               |

### Below are a few examples of evaluating arithmetic expressions in Python

```python
# Example 1: Addition
result_add = 5 + 3  # Output: 8

# Example 2: Subtraction
result_sub = 10 - 4  # Output: 6

# Example 3: Multiplication
result_mul = 7 * 6  # Output: 42

# Example 4: Division
result_div = 20 / 4  # Output: 5.0

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
minutes / 60

3.3333333333333335

## Author M. Bike